.whole {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginFrom {
  height: 50vh;
  width: 30vw;
  background-color: #2c364c;
}
